<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>{{title}}</title>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
	<link href="/css/animate.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/js/common.js"></script>
</head>

<body class="gray-bg">
	<!-- MAIN CONTENT -->
	{{{body}}}
	<!-- END MAIN CONTENT -->
	<script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>

</html>
